<a href="https://colab.research.google.com/github/FavioBarberis/Data-Analysis-with-Python/blob/main/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Car price prediction - lineal regression**

In [1]:
#importando librerias necesarias
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LassoCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import math
import seaborn as sns
import statsmodels.api as sm
# import plotly.offline

# import cufflinks as cf
# cf.go_offline()
# cf.set_config_file(offline=False, world_readable=True)


import plotly.express as px

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OneHotEncoder,StandardScaler,PowerTransformer, MinMaxScaler, RobustScaler
from sklearn.model_selection import KFold, cross_val_predict, train_test_split,GridSearchCV,cross_val_score
from sklearn.linear_model import LinearRegression, Lasso, Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR


from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.feature_selection import SelectKBest,SelectPercentile,f_classif,f_regression,mutual_info_regression,mutual_info_classif,SelectFromModel,RFE

from xgboost import XGBRegressor
from xgboost import plot_importance


#import optuna

In [3]:
#carga dataset
car_data = pd.read_csv('/content/drive/MyDrive/COLABNOTEBOOK/CarPrice_Assignment.csv')

In [4]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
car_data.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [6]:
#buscando valores duplicados
car_data.duplicated().sum()

0

In [7]:
#Funcion para buscar valores perdidos
def missing(df):
  missing_number = car_data.isnull().sum().sort_values(ascending=False)
  missing_percent = (car_data.isnull().sum()/car_data.isnull().count()).sort_values(ascending=False)
  missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
  return missing_values

In [8]:
missing(car_data)

                  Missing_Number  Missing_Percent
price                          0              0.0
highwaympg                     0              0.0
symboling                      0              0.0
CarName                        0              0.0
fueltype                       0              0.0
aspiration                     0              0.0
doornumber                     0              0.0
carbody                        0              0.0
drivewheel                     0              0.0
enginelocation                 0              0.0
wheelbase                      0              0.0
carlength                      0              0.0
carwidth                       0              0.0
carheight                      0              0.0
curbweight                     0              0.0
enginetype                     0              0.0
cylindernumber                 0              0.0
enginesize                     0              0.0
fuelsystem                     0              0.0
boreratio                      0              0.0
stroke                         0              0.0
compressionratio               0              0.0
horsepower                     0              0.0
peakrpm                        0              0.0
citympg                        0              0.0
car_ID                         0              0.0

No hay valores perdidos.

In [9]:
#valores unicos
car_data.nunique()

car_ID              205
symboling             6
CarName             147
fueltype              2
aspiration            2
doornumber            2
carbody               5
drivewheel            3
enginelocation        2
wheelbase            53
carlength            75
carwidth             44
carheight            49
curbweight          171
enginetype            7
cylindernumber        7
enginesize           44
fuelsystem            8
boreratio            38
stroke               37
compressionratio     32
horsepower           59
peakrpm              23
citympg              29
highwaympg           30
price               189
dtype: int64

In [10]:
#crea una copia del dataset para manipulacion
df_car = car_data.copy()

In [11]:
df_car['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [12]:
#Modificando marcas
df_car['model'] = [x.split()[0] for x in df_car['CarName']]
df_car['model'] = df_car['model'].replace({'maxda': 'Mazda','mazda': 'Mazda', 
                                           'nissan': 'Nissan', 
                                           'porcshce': 'Porsche','porsche':'Porsche', 
                                           'toyouta': 'Toyota', 'toyota':'Toyota',
                                           'vokswagen': 'Volkswagen', 'vw': 'Volkswagen', 'volkswagen':'Volkswagen'})

In [13]:
print (f' Tenemos {df_car.shape[0]} elementos con {df_car.shape[1]-1} características')

 Tenemos 205 elementos con 26 características

In [14]:
#Tipos de datos de las columnas
numerical = df_car.drop(['price'], axis=1).select_dtypes('number').columns
categorical = df_car.select_dtypes('object').columns

In [15]:
print(f'Columnas numéricas: {df_car[numerical].columns}')

Columnas numéricas: Index(['car_ID', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg'],
      dtype='object')

In [16]:
print(f'Columnas categóricas: {df_car[categorical].columns}')

Columnas categóricas: Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem', 'model'],
      dtype='object')

In [17]:
#informacion de precios
df_car['price'].describe()

count      205.000000
mean     13276.710571
std       7988.852332
min       5118.000000
25%       7788.000000
50%      10295.000000
75%      16503.000000
max      45400.000000
Name: price, dtype: float64

In [18]:
#Analizando sesgo de los precios (skew)
print( f"Skewness: {df_car['price'].skew()}")

Skewness: 1.7776781560914454

In [26]:
#Histograma de precios
px.histogram(df_car, 'price', template='plotly_dark')

In [21]:
df_car[numerical].describe()

           car_ID   symboling   wheelbase  ...      peakrpm     citympg  highwaympg
count  205.000000  205.000000  205.000000  ...   205.000000  205.000000  205.000000
mean   103.000000    0.834146   98.756585  ...  5125.121951   25.219512   30.751220
std     59.322565    1.245307    6.021776  ...   476.985643    6.542142    6.886443
min      1.000000   -2.000000   86.600000  ...  4150.000000   13.000000   16.000000
25%     52.000000    0.000000   94.500000  ...  4800.000000   19.000000   25.000000
50%    103.000000    1.000000   97.000000  ...  5200.000000   24.000000   30.000000
75%    154.000000    2.000000  102.400000  ...  5500.000000   30.000000   34.000000
max    205.000000    3.000000  120.900000  ...  6600.000000   49.000000   54.000000

[8 rows x 15 columns]

In [58]:
#df_car[numerical].plot(kind='hist', subplots=True, bins=50)

Modelo y precios

In [59]:
df_car.groupby('model')['price'].mean().sort_values()

model
chevrolet       6007.000000
dodge           7875.444444
plymouth        7963.428571
honda           8184.692308
subaru          8541.250000
isuzu           8916.500000
mitsubishi      9239.769231
renault         9595.000000
Toyota          9885.812500
Volkswagen     10077.500000
Nissan         10415.666667
Mazda          10652.882353
saab           15223.333333
peugeot        15489.090909
alfa-romero    15498.333333
mercury        16503.000000
audi           17859.166714
volvo          18063.181818
bmw            26118.750000
Porsche        31400.500000
buick          33647.000000
jaguar         34600.000000
Name: price, dtype: float64

In [64]:
df_precio_por_modelo = pd.DataFrame(df_car.groupby('model')['price'].mean().sort_values())

In [74]:
px.histogram(df_precio_por_modelo, 'price', hover_data=[df_precio_por_modelo.index], nbins=50)

**MODELO**

- linear regression model as a base model
- then Ridge, Lasso, Elasticnet, KNeighborsRegressor and Support Vector MAchine Regressor
- then ensemble models, like Randomforest, Gradient Boosting and Extra Trees
- Finally the XGBoost Regresson.
- after evaluating the algorithm, we will select our best model.

In [75]:
#Get the Dummies
df2 = pd.get_dummies(df_car, columns=categorical, drop_first=True)
df2.head()

   car_ID  symboling  wheelbase  ...  model_saab  model_subaru  model_volvo
0       1          3       88.6  ...           0             0            0
1       2          3       88.6  ...           0             0            0
2       3          1       94.5  ...           0             0            0
3       4          2       99.8  ...           0             0            0
4       5          2       99.4  ...           0             0            0

[5 rows x 212 columns]

In [82]:
#Divide el dataset en entrenamiento y testeo
X= df2.drop('price', axis=1)
y= df2['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = LinearRegression()

In [83]:
#Entrenamineto del modelo
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [84]:
print (f'model : {model} and  rmse score is : {np.sqrt(mean_squared_error(y_test, y_pred))}, r2 score is {r2_score(y_test, y_pred)}')

model : LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False) and  rmse score is : 5211.10593325298, r2 score is 0.608055587826773

OTHER MODEL

In [85]:
X= df2.drop('price', axis=1)
y= df2['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

rf = RandomForestRegressor(n_estimators= 220, random_state=42 )

rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print (f' rmse score is : {round(np.sqrt(mean_squared_error(y_test, y_pred)),4)}, r2 score is {round(r2_score(y_test, y_pred),4)}')

 rmse score is : 2015.9025, r2 score is 0.9413